/* TWEETS */
#tweets { height:350px; overflow:auto; }
#tweets p { font-size: 14px; margin-bottom: 10px; padding: 10px; color: #7a8a99; background: url("../images/transpBlue.png"); }
#tweets p a { padding-left:2px; }
#tweets p a img { border:none; }   
